POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=rental_housing_platform_db

PATRONI_REPLICATION_USERNAME=replicator
PATRONI_REPLICATION_PASSWORD=change_me_replicator
PATRONI_REWIND_USERNAME=rewind_user
PATRONI_REWIND_PASSWORD=change_me_rewind

PGBOUNCER_ADMIN_USER=pgbouncer_admin
PGBOUNCER_ADMIN_PASSWORD=change_me_pgbouncer_admin

S3_ENDPOINT=s3.example.local
S3_BUCKET=rental-ha-backups
S3_REGION=us-east-1
S3_ACCESS_KEY=change_me
S3_SECRET_KEY=change_me
ENABLE_WAL_ARCHIVE=false
