global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend postgres_writer
    bind *:5000
    default_backend patroni_primary

frontend postgres_reader
    bind *:5001
    default_backend patroni_replicas

frontend stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgres-node-1 postgres-node-1:5432 check port 8008
    server postgres-node-2 postgres-node-2:5432 check port 8008
    server postgres-node-3 postgres-node-3:5432 check port 8008
    server postgres-node-4 postgres-node-4:5432 check port 8008
    server postgres-node-5 postgres-node-5:5432 check port 8008

backend patroni_replicas
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgres-node-1 postgres-node-1:5432 check port 8008
    server postgres-node-2 postgres-node-2:5432 check port 8008
    server postgres-node-3 postgres-node-3:5432 check port 8008
    server postgres-node-4 postgres-node-4:5432 check port 8008
    server postgres-node-5 postgres-node-5:5432 check port 8008
